{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control</title>

    <!-- Bootstrap Css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Ionic Icons-->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <!-- Hoja de Estilos Personalizados-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/date.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <!-- Jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   
    <!-- DataTable Css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
   
    <!-- DataTable Js-->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>

       
    <!-- DataTable Buttons -->
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.flash.min.js"></script>

    <!-- PDFMake -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>

    <!-- Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JSZip -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>

    <!-- js-xlsx -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

    <!-- DataTable Buttons Excel -->
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.excel.min.js"></script>

    <!-- DataTable Buttons CSV -->
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>





</head>

<body onload="startTime()">

    <div id="content-wrapper" class="d-flex">
        <div id="sidebar-container" class="bg-light border-rigth">
            <div class="logo">
                <h4 class="font-weight-bold mb-8"><img src="{% static 'img/logo.png' %}"
                        class="img-fluid rounded-circle avatar-logo mr-2">Gestor</h4>
            </div>
            <div id="menu">
                <div class="menu list-group-flush">
                    <ul>
                        <a href="/" class="list-group-item list-group-item-action bg-light p-3 border-0"><i
                                class="icon ion-md-home lead mr-2"></i> Inicio</a>

                        {% if user.is_authenticated %}
                        <li><a class="has-sub list-group-item list-group-item-action bg-light p-3 border-0"><i
                                    class="icon ion-md-apps lead mr-2"></i> Tareas</a>
                            <ul>
                                <li><a href="/tareas_vista"
                                        class="list-group-item list-group-item-action bg-light p-3 border-0"><i
                                            class="icon ion-md-apps lead mr-2"></i> Tareas Pendientes</a></li>
                                <li><a href="/tareas_completas/"
                                        class="list-group-item list-group-item-action bg-light p-3 border-0"><i
                                            class="icon ion-md-checkmark-circle lead mr-2"></i> Tareas Completas</a>
                                </li>
                                <li><a href="/tareas_vista/crear_tareas/"
                                        class="list-group-item list-group-item-action bg-light p-3 border-0"><i
                                            class="icon ion-md-add-circle-outline lead mr-2"></i> Crear Tarea</a></li>
                            </ul>
                        </li>
                        <a href="{% url 'bancos' %}" class="list-group-item list-group-item-action bg-light p-3 border-0"><i
                            class="icon ion-md-cash lead mr-2"></i> Bancos Graficas</a>
                        <a class="list-group-item list-group-item-action bg-light p-3 border-0"
                            href="{% url 'libros' %}"><i class="icon ion-md-book lead mr-2"></i> Tablas</a>
                        <a href="/cerrar_sesion" class="list-group-item list-group-item-action bg-light p-3 border-0"><i
                                class="icon ion-md-log-out lead mr-2"></i> Cerrar Sesión</a>

                        {% else %}

                        <a href="/registro" class="list-group-item list-group-item-action bg-light p-3 border-0"><i
                                class="icon ion-md-person-add lead mr-2"></i> Registro</a>
                        <a href="/iniciar_sesion"
                            class="list-group-item list-group-item-action bg-light p-3 border-0"><i
                                class="icon ion-md-log-in lead mr-2"></i> Iniciar Sesión</a>

                        {% endif %}

                    </ul>
                </div>
            </div>

        </div>

        <div id="page-container" class="w-100">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                
                <div class="container">
                    <button id="menu-toggle" class="btn"><i class="icon ion-md-menu"></i></button>
                    <a class="navbar-brand font-weight-bold mb-8" href="#">Gestor</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <form id="search-form" class="form-inline position-relative my-2 d-inline-block">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-search position-absolute" type="submit"><i
                                class="icon ion-md-search"></i></button>
                    </form>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" id="clock"></a>
                            </li>
                            {% if user.is_authenticated %}

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <img src="{% static 'img/logo.png' %}" class="img-fluid rounded-circle avatar mr-2">
                                    {{user.username}}
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Mi perfil</a>
                                    <a class="dropdown-item" href="#">Configuración</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/cerrar_sesion">Cerrar Sesión</a>
                                </div>
                            </li>

                            {% else %}

                            <a href="/registro" class="nav-link"> Registro</a>
                            <a href="/iniciar_sesion" class="nav-link"> Iniciar Sesión</a>


                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="content" class="container-fluid p-5">
                {% block content %} {% endblock %}

            </div>

        </div>

    </div>

</body>

</html>



<script>
    $(document).ready(function () {
        // Llamar a la función resaltarBusqueda() cuando se envíe el formulario de búsqueda
        $('#search-form').on('submit', function (e) {
            e.preventDefault(); // Evitar el envío del formulario
            resaltarBusqueda(); // Llamar a la función resaltarBusqueda() definida en script.js
        });
    });
</script>